.flex-center-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

.hcenter {
    margin: 0 auto;
}

/* start out with opacity: 0, then use JavaScript to add these two classes */
.fade-in.expand {
    transition: all 1.5s ease !important;
    transform: scale(2);
    opacity: 1 !important;
}
