:root {
    --primary-color: rgba(127, 255, 212, 0.75);
    --overlay-color: rgba(25, 40, 50, 0.85);
    --background-color: rgba(25, 25, 25, 1);
    --menu-speed: 0.75s;
    --top-and-left: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    padding-top: 20px;
    height: 60px;
    margin-bottom: 40px;
}

body {
    width: auto;
    margin: 0;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Cambria", Cambria;
    text-align: center;
}

h1 {
    color: aquamarine;
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
}

section {
    overflow: hidden;
}

h2 {
    font-size: 50px;
    padding-top: 20px;
    transition: 0.4s ease;
    transform: scale(1);
}

h2:hover {
    transition: 0.4s ease;
    transform: scale(1.2);
}

.welcome {
    background-image: url("../images/welcome-background.jpg");
    background-size: cover;
    height: 1080px;
    margin-bottom: 50px;
    overflow: hidden;
}

.welcome:hover h2 {
    transition: all 0.4s ease;
    transform: scale(2);
    opacity: 1;
}

.welcome h2 {
    font-size: 3em;
    letter-spacing: 0.25em;
    vertical-align: middle;
    line-height: 500px;
    font-weight: 900;
    transition: all 0.4s ease;
    transform: scale(1);
    opacity: 0;
}

.lastNameLetter {
    color: darkmagenta;
}
  
p, li {
    line-height: 1.5;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: auto;
    width: 600px;
    border: 10px solid white;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--primary-color);
}

iframe {
    display: block;
    margin: auto;
    border: none;
    border-width: 0;
}

#randomstuff {
    padding-bottom: 20px;
}

footer {
    padding-top: 20px;
    height: 100px;
}

a:link {
    color: skyblue;
}

a:hover {
    text-decoration: none;
}