html {
    background-color: black;
    font-size: 18px;
    font-family: "Cambria", Cambria;
}

h1 {
    color: aquamarine;
    margin: 0;
    padding: 10px 0;
    text-shadow: -3px -3px 0 blue;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}

.lastNameLetter {
    color: crimson;
    text-shadow: -3px -3px 0 blue;
}
  
p, li {
    line-height: 1.5;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    color: white;
    border-left: 10px solid aquamarine;
    border-right: 10px solid aquamarine;
}

img {
    display: block;
    margin: auto;
    width: 600px;
    border: 10px solid white;
}

hr {
    border: none;
    height: 2px;
    background-color: white;
}

table {
    border-spacing: 0;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

iframe {
    display: block;
    margin: auto;
    border: none;
    border-width: 0;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}