html {
    background-color: black;
    font-size: 18px;
    font-family: "Cambria", Cambria;
}

h1 {
    color: aquamarine;
    margin: 0;
    padding: 10px 0;
    text-shadow: 3px 3px 0px crimson;
    font-size: 40px;
    text-align: center;
}
  
p, li {
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    color: white;
    border-left: 10px solid aquamarine;
    border-right: 10px solid aquamarine;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
}

hr {
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}