:root {
    --primary-color: #0395de;
    --overlay-color: rgba(25, 40, 50, 0.85);
    --background-color: rgba(25, 25, 25, 1);
    --odd-color: rgba(35, 35, 35, 1);
    --menu-speed: 0.75s;
}

* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    padding-top: 20px;
    height: 85px;
    margin-bottom: 20px;
    overflow: hidden;
}

body {
    width: auto;
    margin: 0;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Cambria", Cambria;
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin: 0 auto;
    padding: 0;
    font-size: 60px;
    text-align: center;
    vertical-align: center;
    letter-spacing: 5px;
    transition: 0.4s ease;
    width: fit-content;
}

h1 a {
    color: var(--primary-color);
    transition: 0.6s ease;
}

.h1-link {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    transition: 0.4s ease;
    cursor: default;
}

h3 {
    font-size: 40px;
    transition: 0.4s ease;
    margin-top: 20px;
}

h3 a:link,
h3 a:visited {
    color: var(--primary-color);
    transition: 0.6s ease;
}

h1:hover,
h2:hover,
h3:hover {
    transition: 0.4s ease;
    transform: scale(1.2);
}

h2,
h3 {
    max-width: 600px;
    margin: 0.83em auto;
}

section {
    overflow: hidden;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/default-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 50px;
    overflow: hidden;
    transition: 0.6s ease;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#welcome h2 {
    font-size: 3em;
    letter-spacing: 0.25em;
    vertical-align: middle;
    font-weight: 900;
    transition: all 0.4s ease;
    opacity: 0;
}

.fade-in.expand {
    transition: all 1.5s ease !important;
    transform: scale(2);
    opacity: 1 !important;
}

.last-name-letter {
    color: darkmagenta;
}

#about {
    margin-top: 25px;
    margin-bottom: 25px;
}

#about p {
    font-size: larger;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 45px;
}

#projects {
    padding-bottom: 80px;
}

#projects p {
    margin-bottom: 45px;
}

#projects img {
    border-radius: 20px;
}

#projects > div {
    padding-top: 25px;
    padding-bottom: 25px;
}

#projects > div:nth-child(2) {
    padding-top: 0;
}

#projects > div:nth-child(odd) {
    background-color: var(--odd-color);
}

p,
li {
    line-height: 1.5;
    letter-spacing: 1px;
}

h3 + p {
    font-size: 20px;
    font-style: italic;
    max-width: 600px;
    margin: auto;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}

hr {
    border: none;
    height: 10px;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.6s ease;
}

iframe {
    display: block;
    margin: auto;
    border: none;
    border-width: 0;
}

footer {
    padding-top: 20px;
    height: 100px;
}

a:hover {
    text-decoration: none;
}

#projects .bug-tracker p {
    margin-bottom: 10px;
}

.bug-tracker a {
    color: var(--primary-color);
}

.arls-slide-img {
    margin: 0 auto;
}

.chess {
    margin-top: 10px;
    margin-bottom: 10px;
}

#demo {
    font-size: 28px;
}

.chess-slide-video {
    margin: 0 auto;
}

.chess-slides {
    padding-bottom: 50px;
}

.slides-button {
    background-color: var(--primary-color);
    font-weight: bold;
    border-width: 3px;
    width: 80px;
    height: 40px;
    font-size: 25px;
    margin-top: 15px;
    border-radius: 20px;
    transition: 0.6s ease;
}

.slides-button:focus {
    outline: none;
}

.tetris {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tetris img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tetris-23 img {
    vertical-align: top;
}

.connect-four img {
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ttt img {
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adder img {
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tps img {
    max-width: 800px;
}

.smaller-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smaller-projects ul {
    width: fit-content;
    text-align: left;
    list-style-type: square;
}

.smaller-projects ul li a {
    color: var(--primary-color);
    transition: 0.6s ease;
}

.coming-soon {
    font-size: 1.5em;
    margin-top: 80px;
}

#contact {
    height: auto;
}

#contact img {
    margin-top: 45px;
    margin-bottom: 45px;
}

footer {
    height: 100vh;
}

#links {
    width: 100%;
    height: 80%;
}

#links > * {
    width: 100%;
    transform: translateY(-15%);
}

.links-overlay {
    /* width: 100%;
    height: 100%; */
    height: 41vh;
    position: absolute;
    background: linear-gradient(
        0deg,
        var(--background-color) 0%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 75%,
        var(--background-color) 100%
    );
    pointer-events: none; /* so the text is still selectable */
    z-index: 1;
}

#links-wrapper {
    --logo-dimension: 100px;
    height: 40vh;
    overscroll-behavior: contain;
    /* box-shadow: 0 0 50px lightgray; */
    cursor: all-scroll;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#links-wrapper::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.logo-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--logo-dimension);
    margin-top: var(--logo-dimension);
    margin-bottom: var(--logo-dimension);
}

.logo {
    width: var(--logo-dimension);
    height: var(--logo-dimension);
    border: none;
    transition: 0.4s ease;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.logo:hover {
    transition: 0.4s ease;
    /* transform: translate(20px, -20px) rotate(360deg); */
    transform: scale(1.2);
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

.arls-slides img {
    height: 600px;
}

.chess img,
.chess-slide-video,
.uttt img,
.gol img,
.minicanvas img,
video,
.tps img {
    width: 600px;
}

@media (max-width: 600px) {
    .arls-slides img {
        height: auto;
    }

    .arls-slides img,
    .chess img,
    .chess-slide-video,
    .uttt img,
    .gol img,
    .minicanvas img,
    video,
    .tps img {
        width: 100%;
    }

    #welcome h2 {
        font-size: 1.3em;
    }

    #about p {
        font-size: large;
    }

    hr {
        height: 5px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 40px;
        transform: translateX(20px);
    }
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}

.circle.default-theme {
    background-color: #0395de;
}

.circle.aquamarine-theme {
    background-color: aquamarine;
}

.circle.crimson-theme {
    background-color: crimson;
}

.circle.gold-theme {
    background-color: gold;
}

.theme-picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 150px;
    width: 40px;
}

.flex-center-one {
    display: flex;
    justify-content: center;
    align-items: center;
}
