:root {
    /* --primary-color: aquamarine; */
    --primary-color: #0395DE;
    --overlay-color: rgba(25, 40, 50, 0.85);
    --background-color: rgba(25, 25, 25, 1);
    --menu-speed: 0.75s;
    --top-and-left: 20px;
}

* {
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    padding-top: 20px;
    height: 85px;
    margin-bottom: 20px;
    overflow: hidden;
}

body {
    width: auto;
    margin: 0;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Cambria", Cambria;
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
    transition: 0.4s ease;
}

h1 a {
    color: var(--primary-color);
}

.h1-link {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    padding-top: 20px;
    transition: 0.4s ease;
}

h3 {
    font-size: 40px;
    transition: 0.4s ease;
}

h3 a:link, h3 a:visited {
    color: var(--primary-color);
}

h1:hover, h2:hover, h3:hover {
    transition: 0.4s ease;
    transform: scale(1.2);
}

section {
    overflow: hidden;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/default-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1080px;
    margin-bottom: 50px;
    overflow: hidden;
}

.welcome h2 {
    font-size: 3em;
    letter-spacing: 0.25em;
    vertical-align: middle;
    font-weight: 900;
    transition: all 0.4s ease;
    opacity: 0;
}

.welcome:hover h2 {
    transition: all 0.8s ease;
    transform: scale(2);
    opacity: 1;
}

.last-name-letter {
    color: darkmagenta;
}

#about {
    margin-bottom: 20px;
}

#about p {
    font-size: larger;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 45px;
}

section#projects {
    padding-bottom: 80px;
}

#projects p {
    margin-bottom: 45px;
}

p, li {
    line-height: 1.5;
    letter-spacing: 1px;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}

hr {
    border: none;
    height: 10px;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 5px;
}

iframe {
    display: block;
    margin: auto;
    border: none;
    border-width: 0;
}

#randomstuff {
    padding-bottom: 20px;
}

footer {
    padding-top: 20px;
    height: 100px;
}

a:hover {
    text-decoration: none;
}

.chess {
    margin: 10px;
}

.chess-slide-video {
    margin: 0 auto; 
}

.chess-slides {
    padding-bottom: 50px;
}

.chess-slides-button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin-top: 15px;
}

.tetris {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tetris img {
    margin: 10px;
}

.tetris-23 img {
    vertical-align: top;
}

.connect-four img {
    vertical-align: top;
    margin: 10px;
}

.ttt img {
    vertical-align: top;
    margin: 10px;
}

.adder img {
    vertical-align: top;
    margin: 10px;
}

.tps img {
    max-width: 800px;
}

.coming-soon {
    font-size: 1.5em;
    margin-top: 80px;
}

#contact {
    height: auto;
}

#contact img {
    margin: 45px;
}

.logo {
    width: 100px;
    height: 100px;
    border: none;
    transition: 0.6s ease;
}

.logo:hover {
    transition: 0.6s ease;
    transform: rotate(360deg);
}

#links img {
    margin: 45px;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

.chess img,
.chess-slide-video,
.uttt img, 
.gol img,
.minicanvas img, video,
.tps img {
    width: 600px;
}

@media (max-width: 600px) {
    .chess img, 
    .chess-slide-video,
    .uttt img,
    .gol img,
    .minicanvas img, video,
    .tps img {
        width: 100%;
    }

    .welcome h2 {
        font-size: 1.3em;
    }
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}

.circle.default-theme {
    background-color: #0395DE;
}

.circle.aquamarine-theme {
    background-color: aquamarine;
}

.circle.crimson-theme {
    background-color: crimson;
}

.circle.gold-theme {
    background-color: gold;
}

.theme-picker {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 10px;
}

.theme-picker ul li {
    list-style: none;
    padding: 5px;
}