:root {
    --primary-color: rgba(127, 255, 212, 0.75);
    --overlay-color: rgba(25, 40, 50, 0.85);
    --background-color: rgba(25, 25, 25, 1);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    margin: 0;
    background-color: var(--background-color);
    color: white;
    font-size: 18px;
    font-family: "Cambria", Cambria;
    text-align: center;
}

h1 {
    color: aquamarine;
    margin: 0;
    padding: 10px 0;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}

.lastNameLetter {
    color: darkmagenta;
}
  
p, li {
    line-height: 1.5;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: auto;
    width: 600px;
    border: 10px solid white;
}

figcaption {
    text-align: center;
    padding-top: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--primary-color);
}

iframe {
    display: block;
    margin: auto;
    border: none;
    border-width: 0;
}

a:link {
    color: skyblue;
}

a:hover {
    text-decoration: none;
}